<a href="https://colab.research.google.com/github/JSravanreddy/ML-projects/blob/main/car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lassoaa
from sklearn import metrics

In [ ]:
data=pd.read_csv("/content/car_data[1].csv")

In [ ]:
data.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [ ]:
data.shape

(301, 9)

In [ ]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [ ]:
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [ ]:
print(data.Fuel_Type.value_counts())
print(data.Transmission.value_counts())
print(data.Seller_Type.value_counts())

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64
Manual       261
Automatic     40
Name: Transmission, dtype: int64
Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

WE NEED TO CONVERT THE CATEGORICAL DATA

In [ ]:
data.replace({"Fuel_Type":{"Petrol":0,"Diesel":1,"CNG":2}},inplace=True)
data.replace({"Seller_Type":{"Individual":0,"Dealer":1}},inplace=True)
data.replace({"Transmission":{"Manual":0,"Automatic":1}},inplace=True)
#data.replace({"owner":{"First Owner":0,"Second Owner":1,"Third Owner":2,"Fourth & Above Owner":3,"Test Drive Car":4}},inplace=True)

In [ ]:
data.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission  Owner
0     ritz  2014           3.35  ...            1             0      0
1      sx4  2013           4.75  ...            1             0      0
2     ciaz  2017           7.25  ...            1             0      0
3  wagon r  2011           2.85  ...            1             0      0
4    swift  2014           4.60  ...            1             0      0

[5 rows x 9 columns]

In [ ]:
xtrain.shape

(225, 7)

In [ ]:
ytrain.shape

(76, 7)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    int64
 6   Seller_Type    301 non-null    int64
 7   Transmission   301 non-null    int64
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 21.3+ KB

In [ ]:
x=data.drop(["Car_Name","Selling_Price"],axis=1)
y=data["Selling_Price"]
print(x)
print(y)

     Year  Present_Price  Kms_Driven  ...  Seller_Type  Transmission  Owner
0    2014           5.59       27000  ...            1             0      0
1    2013           9.54       43000  ...            1             0      0
2    2017           9.85        6900  ...            1             0      0
3    2011           4.15        5200  ...            1             0      0
4    2014           6.87       42450  ...            1             0      0
..    ...            ...         ...  ...          ...           ...    ...
296  2016          11.60       33988  ...            1             0      0
297  2015           5.90       60000  ...            1             0      0
298  2009          11.00       87934  ...            1             0      0
299  2017          12.50        9000  ...            1             0      0
300  2016           5.90        5464  ...            1             0      0

[301 rows x 7 columns]
0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [ ]:
xtrain,ytrain,xtest,ytest=train_test_split(x,y,test_size=0.2 ,random_state=2)

In [ ]:
xtrain.shape

(240, 7)

In [ ]:
xtest.shape

(240,)

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(xtrain,ytrain)

ValueError: ignored